@font-face {
    font-family: 'Pineapple';
    src: url('./assets/fonts/Pineapple.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    color: black;
    background-color: #F5F5F7;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

  
.app-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes up the full viewport height */
}

.header-banner {
    background-color:#E5D4ED; /* Light white-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
  
.app-title {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #1D1E2C;
    font-family: 'Pineapple', sans-serif;
}

 
  
/* Fruit icons grouped on either side */
.fruit-side {
    display: flex;
    gap: 0.5rem;
}
    
/* Keeps images crisp and sized */
.fruit-icon {
    height: 100px;
    image-rendering: pixelated;
}
.fruit-icon-shrink {
    margin-top: 0.6rem;
    height: 80px;
    image-rendering: pixelated;
}
  

.content {
    display: flex;
    justify-content: space-between;
    flex: 1; /* Allow content to grow and fill available space */
    padding-bottom: 10rem; /* Add space below the content */
    gap: 5rem;
    margin: 2rem;
}

.fridge-list {
    flex: 1;
    flex-direction: column;
    background-color: #C4B4D1;
    min-height: calc(100vh - 150px); /* Adjust 150px based on your header height */
    border: 3px solid #1D1E2C;
    padding: 2rem;
    gap: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.right-column {
    flex: 1;
    flex-direction: column;
    background-color:#A9B9A3;
    border: 3px solid #1D1E2C;
    padding: 2rem;
    gap: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;        
}

.right-column-header, .fridge-list-header {
    font-size: 2.5rem;
    font-family: 'Pineapple', sans-serif;
    color: #1D1E2C;
}
/* Responsive: stack vertically on smaller screens */
@media (max-width: 768px) {
    .main-section {
      flex-direction: column;
    }
  
    .left-column,
    .right-column {
      width: 100%;
    }
}

.sorting-header {
    display: flex;
    flex-direction: space-between;
    gap: 3rem;
    background-color: #F5F5F7;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    border: 3px solid #1D1E2C;
    border-radius: 8px;
    margin-left: 5rem;
    margin-right: 5rem;
}

.sorting-header h3 {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-family: 'Pineapple', sans-serif;
    color: #1D1E2C;
}

.sorting-header button {
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Pineapple', sans-serif;
    background-color: #E5D4ED;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sorting-header button:hover {
    background-color: #DA627D;
}

.add-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.add-item-form h3 {
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
    font-family: 'Pineapple', sans-serif;
    color: #1D1E2C;
}
  
.add-item-form input {
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #F5F5F7;
    font-family: 'Pineapple', sans-serif;
}
  
.add-item-form button {
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Pineapple', sans-serif;
    background-color: #A9B9A3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.add-item-form button:hover {
    background-color: #45CB85;
}
.ingredient-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
  
.ingredient-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E5D4ED;
    border-radius: 6px;
    padding: 0.75rem 1rem;
    color: #1D1E2C;
    font-size: 1rem;
    font-family: 'Pineapple', sans-serif;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-left: 1rem;
    margin-right: 1rem;
}
  
.ingredient-card button {
    background: none;
    border: none;
    color: #ff6b6b;
    font-size: 1.2rem;
    cursor: pointer;
}
  
.ingredient-card button:hover {
    color: red;
}

.ingredient-list p {
    font-size: 2rem;
    font-family: 'Pineapple', sans-serif;
    color: #1D1E2C;
}

.use-by-header {
    text-align: start;
    font-size: 2rem;
    font-family: 'Pineapple', sans-serif;
    color: #1D1E2C;
    margin-left: 1rem;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}
.use-by-section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
}
.ingredient-card-expired {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #A8C686;
    border-radius: 8px;
    padding: 1rem 1rem;
    color: #1D1E2C;
    font-size: 1.5rem;
    font-family: 'Pineapple', sans-serif;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-button {
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #C4B4D1;
    color: #1D1E2C;
    cursor: pointer;
}
  
.nav-button:hover {
    background-color: #59656F;
}